<!DOCTYPE html>
<html lang="en">
  <% include header %>
  <body>
    <% include navbar %>
    <br><br><br><br>
    <div role="main" class="container" style="width: 50%;">
      <br/><br/>
    <h2>-- Employee Record --</h2>
    <div>
      <div class="form-group">
        <label for="txtName">First Name:</label>
        <input type="text" class="form-control" id="txtFirstName" value="<%= employee[0].firstName %>" name="txtFirstName" />
        <label for="txtName">Last Name:</label>
        <input type="text" class="form-control" id="txtLastName" value="<%= employee[0].lastName %>" name="txtLastName" />
        </div>
    </div>
    <br /><br />
    <a href="/list">Return to Employees</a>
    </div>
      <% include footer %>
    </div>
    <% include scripts %>
  </body>
</html>
